version: '3'
services:
  app:
      build: 
        context: .
        dockerfile: Dockerfile
      image: app1
      ports:
        - "5000:5000"
      networks:
        - lab1-soft
  app2:
      build: 
        context: .
        dockerfile: Dockerfile
      image: app2
      ports:
        - "5001:5000"
      networks:
        - lab1-soft
  app3:
      build: 
        context: .
        dockerfile: Dockerfile
      image: app3
      ports:
        - "5002:5000"
      networks:
        - lab1-soft

networks:
  lab1-soft:
    driver: bridge
